"Line numbers
set number
set relativenumber

"Disable line wrapping
set nowrap

"File management
set noswapfile
set nobackup
set undodir=~/.vim/undodir
set undofile

"Search settings
set nohlsearch
set incsearch

"Enable true colors
set termguicolors

"UI settings
set scrolloff=8
set signcolumn=yes
set isfname+=@-@

"Performance and visual settings
set updatetime=50
set colorcolumn=80

"Set space as the leader key
let mapleader = " "

"File navigation and formatting
nnoremap <leader>pv :Ex<CR>

"Move selected lines up and down in visual mode
vnoremap J :action MoveLineDown<CR>gv
vnoremap K :action MoveLineUp<CR>gv

"Keep cursor centered when jumping half-pages
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

"Keep cursor centered when navigating search results
nnoremap n nzzzv
nnoremap N Nzzzv

"Copy to system clipboard
nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>Y "+Y

"Delete without yanking
nnoremap <leader>d "_d
vnoremap <leader>d "_d

" Basic find/replace with current word
nnoremap <leader>s :action FindWordAtCaret<CR>:action Replace<CR>

"Open the "Find Files" (Navigate > File) dialog with <leader>ff (Space + ff)
nnoremap <leader>ff :action GotoFile<CR>

"Open the "Find in Path" (Global Search) dialog with <leader>fs (Space + fs)
nnoremap <leader>fs :action FindInPath<CR>

"Open the Rename Refactor dialog with <leader>rn (Space + rn)
nnoremap <leader>rn :action RenameElement<CR>

"Run the project with <leader>r (Space + ru)
nnoremap <leader>rr :action Run<CR>

"Run the current class"
nnoremap <leader>ruc :action RunClass<CR>

"Open the "Choose Run Configuration" menu with <leader>rc (Space + rc)
nnoremap <leader>rc :action ChooseRunConfiguration<CR>

"Toggle the Terminal tool window with <leader>tt (Space + tt)
nnoremap <leader>tt :action ActivateTerminalToolWindow<CR>

"Move to the next tab with Ctrl + j
nnoremap <C-j> :action NextTab<CR>

"Move to the previous tab with Ctrl + k
nnoremap <C-k> :action PreviousTab<CR>

"Reload .ideavimrc file configuration
nnoremap <leader>irc :action IdeaVim.ReloadVimRc.reload<CR>

"Show Code Actions
nnoremap <leader>ca :action ShowIntentionActions<CR>

"Show formatting document
nnoremap <leader>rf :action ShowReformatFileDialog<CR>

"Comment lines
nnoremap <leader>cm :action CommentByLineComment<CR>
vnoremap <leader>cm :action CommentByLineComment<CR>

"Debugging
nnoremap <leader>db :action Debug<CR>
nnoremap <leader>bp :action ToggleLineBreakpoint<CR>

"Navigation (You can return to previous file using C+o)
nnoremap gd :action GotoDeclaration<CR>
nnoremap gD :action GotoTypeDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action GotoReferences<CR>
nnoremap <leader>gs :action GotoSymbol<CR>
nnoremap <leader>gS :action GotoSymbolInFile<CR>
nnoremap K :action ParameterInfo<CR>

nnoremap <leader>ec :action IntroduceConstant<CR>
nnoremap <leader>ev :action IntroduceVariable<CR>
nnoremap <leader>em :action ExtractFunction<CR>
vnoremap <leader>ef :action IntroduceField<CR>
nnoremap <leader>ep :action IntroduceParameter<CR>
nnoremap <leader>mo :action Move<CR>

"Plugins
set surround
set NERDTree

"Open NERDTree
nnoremap <leader>nt :NERDTree<CR>
